.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}

.product{
    position: relative;
    width: 300px;
    height: 550px;
    border: 2px solid #95a0a7;
    border-radius: 8px;

}

.shoe-name{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0e161a;
}

.product-info{
    margin-left: 14px;
    font-weight: 400;
}

.btn-cart{
    position: absolute;
    background: #ffe0b3;
    border: 1px solid #95A0a7; 
    width: 100%;
    bottom: 0;
}

.btn-cart:hover{
    background-color: orange;
}